@font-face {
	font-family: 'ionicons';
	src:url('https://github.com/RiDeag/Stines/raw/master/fonts/ionicons.eot');
	src:url('https://github.com/RiDeag/Stines/raw/master/fonts/ionicons.eot?#iefix') format('embedded-opentype'),
		url('https://github.com/RiDeag/Stines/raw/master/fonts/ionicons.ttf') format('truetype'),
		url('https://github.com/RiDeag/Stines/raw/master/fonts/ionicons.woff') format('woff'),
		url('https://github.com/RiDeag/Stines/raw/master/fonts/ionicons.svg#ionicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*

(TODO:   Change shit
         Fix Shit
         
*/

@-moz-document domain("boards.4chan.org") {

/**
    Main Colours
*/

#header-bar .menu-button {
  opacity: 1 !important;
  padding-left: 7px !important;
}

#header-bar {
  background: #fff !important;
}

#header-bar.dialog:not(.autohide) {
  box-shadow: 0px -3px 10px 0px rgba(53, 53, 74, .3) !important;
}

#full-board-list {
  background-color: #fff !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
}

#custom-board-list,
#custom-board-list a,
#custom-board-list a:hover::before {
/*  color: #dfe1e6 !important;*/
  color: #737373 !important; 
}

#custom-board-list a:hover {
  color: #484848 !important;
  border-top: 2px solid #ed4242 !important;
  padding-top: 4px !important;
}

#custom-board-list .current:hover::before {
  color: #fff !important;
}

#board-list {
  color: transparent !important;
}

.postContainer {
  background-color: #fff !important;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) !important;
}

.threadContainer,
.threadContainer .postContainer {
  border-color: #eeeeee !important;
  border-radius: 0 !important;
}

#globalMessage {
  border-radius: 5px !important;
  border: 1px solid #eeeeee !important;
  background: #fff !important;
}

.post.reply {
  background: transparent !important;
}

#qp .yourPost .post.reply, 
#qp .quotesYou .post.reply,
#qp .post.reply,
#qp {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.backlink.deadlink,
.backlink.deadlink:hover  {
  color: transparent !important;
}

.quotelink {
  border-bottom: none !important;
}

.quotelink.forwardlink {
  border-bottom: 1px dotted !important;
}

.backlink.forwardlink {
  border-bottom: none !important;
}

#qp .postContainer {
  border-radius: 0 !important;
  border: 1px solid #eeeeee !important;
}

.inline.crosspost .postContainer.replyContainer {
  border: 1px solid #ccc !important;
}

.inline {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.inline .opContainer,
.inline .postContainer {
  background: #ffffff !important;
  border: 1px solid #eeeeee !Important;
  box-shadow: none !important;
}

.inline .post.reply {
  border: none !important;
}

.opContainer.qphl {
  box-shadow: none !important;
}

#unread-line {
  opacity: .2 !important;
  border-top: 1px solid #32353b !important;
}

.hide-announcement::after {
  color: #ad4541 !important;
}

#globalMessage strong, h2,
#globalMessage h3 {
  color: #5F5F5F !important;
}

body {
/*  background: #f2f2f2 !important;*/
  background: #EFEFEF !important;
  color: #454545 !important;
}

#watcher,
#watcher a {
  color: #aaa !important;
}

#thread-watcher.dialog {
  border: 1px solid #ebebeb !important;
  background: #fff !important;
}

.quotelink.inlined,
.backlink.inlined,
.inlined,
#dump-button:hover,
.globalMessage a:hover,
.abbr a:hover,
.pages a:hover,
.pages strong a,
#qr:hover::before,
.quotelink:hover,
.embedder:hover,
.summary:hover,
#watcher a:hover{
  color: #5f5f65 !important;
}

#dump-button {
  color: #434347 !important;
}

.stub a,
.stub span:not(.dropmarker)::before,
#add-post,
.abbr a,
.embedder,
.globalMessage a,
.fileThumb > img:first-child,
.useremail {
  color: #999 !important;
}

.pages a,
.summary,
.nameBlock a:hover::after {
  color: #a6a6a6 !important;
}

.dateTime {
  color: #a7b5c1 !important;
}

.dateTime::before,
.postNum::before {
  color: #b3b7bd !important;
}

.fileText a {
  text-decoration: none !important;
}

.postertrip,
.posteruid,
.name {
  color: #6482a1 !important;
}

.postNum a,
.replylink,
.postMessage a,
.fileText a {
  color: #6495c8 !important;
}
.replylink,
.postNum a,
.postMessage a {
  transition: color .2s ease !important;
}

.replylink:hover,
.nameBlock a:hover .postertrip,
.postMessage a:hover,
.fileText a:hover,
.postNum a:hover,
.hand:hover {
  color: #2b5a8a !important;
}

.name,
.inline .name {
  font-size: 9pt !important;
  font-weight: 600 !important;
}

.postInfo {
  color: #8D9CAD !important;
}

.deadlink,
.warning {
  color: #c97172 !important;
}

.quotelink.deadlink.you::after,
.deadlink {
  text-decoration: line-through !important;
}

.highlight-you:root .quotesYou .post.reply,
.highlight-own:root .yourPost .post.reply {
  border-left: none !important;
}

.exblock.reply,
.reply.post.highlight,
.reply:target,
.post.op.qphl {
  background: none !important;
  outline: none !important;
}

.post.op.qphl,
.post.reply.qphl {
  outline: none !important;
}

.fileText,
.fileInfo a {
  color: #b1bbc3 !important;
}

.quote {
  color: #093 !important;
}

.subject {
  color: #7a7f88 !important;
}

.quote a,
.prettyprint a,
.prettyprint a:hover {
  color: inherit !important;
}

.prettyprint {
  background-color: rgba(255,255,255,.7) !important;
  border: solid 1px #eeeeee !important;
}

#fourchanx-settings.dialog a {
  color: #49637d !important;
}

#fourchanx-settings.dialog a:hover {
  color: #2f4052 !important;
}

.pagelist {
  color: transparent !important;
  background: transparent !important;
  border: none !important;
}

.next,
.prev,
.pages.cataloglink,
.pagelist .prev input,
.pagelist .next input {
  background: none !important;
  color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#options.reply.dialog {
  background: #fff !important;
  color: #717171 !important;
  border: none !important;
}

#options.reply.dialog label {
  color: #494949 !important;
}

#optionsbar {
  border-bottom: 1px solid #eceef0 !important;
}

#fourchanx-settings.dialog {
  background: #fff !important;
}

.dialog {
  background: none !important;
  color: #2e3033 !important;
  border: transparent !important;
}

#qr.dialog {
  background: transparent !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
  border-right: 1px solid #f1f1f1 !important;
}

#qr textarea.field {
  border-bottom: 1px solid #f1f1f1 !important;
  border-top: 1px solid #f1f1f1 !important;
}

#qr .persona {
  padding: 0 !important;
}

#qr textarea.field:hover {
  box-shadow: inset 0 0 0 1px rgba(115, 148, 198, .15) !important;
}

#qr textarea.field:focus {
  box-shadow: inset 0 0 0 1px rgba(115, 148, 198, .3) !important;
}

input[name="email"],
input[name="sub"] {
  border-left: 1px solid #f1f1f1 !important;
}

#qr .captcha-input.field,
#dump-list-container {
  border-bottom: 1px solid #f1f1f1 !important;
}

#qr .move {
  color: transparent !important;
  background-color: transparent !important;
}

#qr-spoiler-label {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .095) inset;
  background: #fff !important;
}

#qr-filerm {
  color: #999 !important;
}

#qr [type=file] [type=text]:focus {
  border: 1px solid grey !important; 
}

textarea,
.field,
#qr [type=file] [type=text] {
  background-color: #fff !important;
}

.persona .field[name="name"] {
  color: transparent !important;
}

.persona .field[name="name"]:focus,
.persona .field[name="name"]:hover {
  color: inherit !important;
}

select,
textarea:not(:focus),
.field:not(:focus) {
  background: #fff !important;
}

#qr [type=file] [type=text]:not(:focus) {
  background: #fff !important;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled] {
  color: #919191 !important;
}

input[type="submit"].disabled,
input[type="submit"][disabled] {
  color: #d56b6b !important;
}


input[type="submit"] {
  color: #aaaaaa !important;
  background: #fff !important;
  border: none !important;
  border-left: 1px solid #f1f1f1 !important;
}

.captcha-img {
  border: none !important;
}

.captcha-img > img {
  border-bottom: transparent !important;
}

.captcha-input.field {
  border-top: 1px solid #f1f1f1 !important;
}

#replies > div {
  border-top: 1px solid rgba(0, 0, 0, .094) !important;
  border-left: 1px solid #dedede !important;
  border-right: 1px solid #dedede !important;
}

#replies > div .thumbnail {
  background-color: rgba(160,160,160,.5) !important;
}

#dump-list-container {
  background: #fff !important;
}

.postContainer .menu-button i {
  color: transparent !important;
}

#menu.reply.dialog {
  border: 1px solid #ccc !important;
}

.entry,
.entry a,
.subMenu {
  background: #ffffff !important;
  color: #999 !important;
  border: none !important;
}

.entry:hover,
.entry a:hover {
  color: #49637d !important;
}

.stub {
  background-color: #fff !important;
  border: 1px solid #ebebeb !important;
}

#thread-stats {
  color: #5c5e5e !important;
  border: none !important;
  background: none !important;
}

.notification.warning #errmsg {
  color: #dd0010 !important;
}

.quotelink.you {
  font-size: 0 !important;
}

.quotelink.you:after {
  content: "@You";
  font-size: 10pt !important;
  color: #c97172 !important;
  transition: color .2s ease !important;
}

.quotelink.filtered {
  color: #c97172 !important;
}

.quotelink.filtered:hover,
.quotelink.you:hover::after {
  color: #ac4344 !important;
}

.gal-thumbnails {
  background: rgb(50, 50, 50) !important;
}

.gal-thumbnails img {
  opacity: 0.4 !important;
}

.gal-highlight img {
  opacity: 1 !important;
}

.gal-highlight {
  background: none !important;
}

#watcher-link:hover {
  color: #5c5e5e !important;
}

#thread-stats {
  color: #5c5e5e !important;
}

/**
    Header Bar
*/

#header-bar {
  height: 25px !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.5s ease;
}

#header-bar .menu-button::after {
  color: #dfe1e6 !important;
  font-family: ionicons !important;
  content: "\f104" !important;
  font-size: 10px !important;
}

#shortcuts a {
  color: #dfe1e6 !important;
}

.qr-shortcut {
  display: none;
}

#shortcuts a:hover {
  color: #484848 !important;
}

#updater {
  display: none !important;
}

#shortcuts {
  position: fixed !important;
  top: 4px !important;
  right: 5px !important;
  color: transparent !important;
  font-size: 0 !important;
  cursor: default !important;
}

#shortcuts a {
  padding-left: 15px !important;
}

.expand-all-shortcut,
.qr-shortcut,
#shortcuts .settings-link,
#appchan-gal {
  font-size: 0 !important;
}

.fa-wrench::before {
  font-family: ionicons !important;
  font-size: 16px !important;
}

.fa-wrench::before {
  content: "\f20d" !important;
}

.qr-shortcut.disabled {
  opacity: 1 !important;
}

#thread-stats {
  position: fixed !important;
  top: 4px !important;
  right: 128px !important;
  color: transparent !important;
  font-size: 0 !important;
}

#thread-stats:hover::after {
  cursor: pointer !important;
  color: #484848 !important;
  padding-bottom: 5px !important;
}

#thread-stats::after {
  font-family: ionicons !important;
  font-size: 16px !important;
  content: "\f2b5" !important;
  color: #dfe1e6 !important;
}

#file-count,
#page-count,
#post-count {
  position: fixed !important;
  margin-left: -25px !important;
  background: #fff !important;
/*  background: #32353b !important;*/
  font-size: 12px !important;
  display: none !important;
  color: #b5b6ba !important;
  width: 60px !important;
  padding-left: 10px !important;
  text-align: left !important;
}

#post-count {
  padding-top: 2px !important;
  top: 25px !important;
}

#file-count {
  top: 44px !important;
}

#page-count {
  top: 61px !important;
  padding-bottom: 5px !important;
}

#thread-stats:hover #file-count,
#thread-stats:hover #page-count,
#thread-stats:hover #post-count,
#file-count:hover,
#page-count:hover,
#post-count:hover {
  display: inline !important;
}

.current ~ .current {
	display: none !important;
}

#post-count::before {content:"Posts: ";}
#file-count::before {content:"Files: ";}
#page-count:not(.warning)::before {content:"Page: ";}

#custom-board-list .current {
  font-weight: normal !important;
  color: #3d3d3d !important;
  font-weight: 600 !important;
  border-bottom: none !important;
  border-top: 2px solid #427fed !important;
  padding-top: 4px !important;
}

#custom-board-list {
  display: inherit !important;
  position: fixed !important;
  top: 2px !important;
  left: 4px !important;
  width: auto !important;
  padding: 2px !important;
  z-index: 90 !important;
  white-space: nowrap !important;
}

#custom-board-list a {
  padding-bottom: 4px !important;
  font-size: 14px !important;
  margin: 3px !important;
}

#shortcuts, 
#custom-board-list a {
  transition: opacity .2s ease !important;
  opacity: 1 !important;
}

#shortcuts:hover,
#custom-board-list:hover > a {
  opacity: 1 !important;
}

#custom-board-list::after,
#shortcuts::after {
  z-index: -1 !important;
  opacity: 1 !important;
  position: fixed !important;
  top: 0px !important;
  content: "";
  height: 25px !important;
}

#custom-board-list::after {
  left: 0px !important;
  width: 500px !important;
}

#shortcuts::after {
  right: 0px !important;
  width: 200px !important;
}

.navLinks {
	text-align: right !important;
  font-size: 0 !important;
}

#index-last-refresh {
	position: relative !important;
	top: 3px !important;
	left: -3px !important;
	font-size: 9pt !important;
	color: #B4B4B4 !important;
}

#index-last-refresh::before {
	content: "Last refreshed: " !important;
}

.navLinks > a[href*="./catalog"] {
	display: none !important;
}

/**
    Icon colours
*/

/*Gives the correct font for the icons*/
/*Credit to: http://ionicons.com for the icons*/

.backlink:after,
.deleted-post .post.reply::after {
  font-family: "ionicons" !important;
}


/*Backlinks*/
.backlink:after {
  color: #b1bbc3 !important;
  font-size: 12px !important;
  opacity: .7 !important;
}

/*Hovered and inlined backlinks*/
.backlink:hover::after,
.backlink.inlined::after {
  opacity: 1 !important;
}

/*Filtered backlinks*/
.backlink.filtered::after {
  color: #c97172 !important;
  opacity: .7 !important;
}

/*Backlinks to deleted posts*/
.backlink.deadlink::after {
  color: #c97172 !important;
  opacity: .7 !important;
}

/*Hovered backlinks to deleted posts*/
.backlink.deadlink:hover::after {
  opacity: 1 !important;
}

/*Hovered and inlined filtered backlinks*/
.backlink.filtered.inlined::after,
.backlink.filtered:hover::after {
  opacity: 1 !important;
}

.backlink.forwardlink::after {
  opacity: 1 !important;
}

/*deleted post icon*/
.deleted-post .post.reply::after {
  color: #c97172 !important;
}

/**
    Main Layout
*/

.hide-reply-button,
.hide-thread-button,
.sideArrows,
/*#appchan-gal,*/
#boardNavDesktopFoot,
.ad-plea,
/*.expand-all-shortcut,
.contract-all-shortcut,*/
#qr .close,
#qr #autohide,
.boardBanner > img,
.boardTitle,
.boardSubtitle,
#copyright,
.deleteform,
.postingMode,
.stylechanger,
.postForm,
.extButton,
h1,
hr,
div.center,
#hideBtn,
#absbot,
.board_mlp .postContainer:nth-of-type(2n+3) {
  display: none !important;
}

*:active, *:focus {
  outline: none !important;
}

.board {
  margin-bottom: 30px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.thread:not(:first-of-type) {
  margin-top: 30px !important;
}

.thread {
  margin-top: 20px !important;
}

.threadContainer {
  position: relative !important;
  z-index: 1 !important;
}

body {
  font-size: 13px !important;
  font-family: "Segoe UI", sans-serif !important;
}

#full-board-list a {
  white-space: pre;
  margin: 0 !important;
  margin-right:5px !important;
}

#full-board-list {
  font-size: 0px !important;
}

#full-board-list {
  display: inline !important;
  visibility: hidden !important;
  position: fixed !important;
  top: 80px !important;
  left: -160px !important;
  width: 150px !important;
  padding: 10px !important;
  padding-right: 0px !important;
  transition: all 0.5s ease;
  z-index: 9 !important;
  text-align: left !important;
}

#full-board-list:not([Hidden]) {
  visibility: visible !important;
  left: 0px !important;
  bottom: auto !important;
  transition: all 0.5s ease;
}

#custom-board-list a[href="javascript:;"],
#full-board-list a[href="javascript:;"] {
  padding: 0 !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

#watcher-link.disabled {
  opacity: 0 !important;
  position: fixed !important;
  right: 2px !important;
  bottom: 2px !important;
}

#watcher-link {
  opacity: 0 !important;
  position: fixed !important;
  right: 2px !important;
  bottom: 2px !important;
}

#watcher-link:hover {
  opacity: 1 !important;
}

.cataloglink {
  font-size: 0 !important;
}

.postContainer .menu-button,
.postContainer .hide-reply-button {
  transition: all .5s .3s ease !important;
}

.postContainer {
  min-width: 100% !important;
  border-radius: 2px !important;
}

.post.op,
.postContainer.opContainer {
  min-width: 100% !important;
  max-width: 100% !important;
}

.post.reply {
  position: relative !important;
  padding-left: 0 !important;
  border-right: none !important;
  border-bottom: none !important;
  width: 100% !important;
  overflow: visible !important;
}

#header-bar.autohide:not(:hover) {
  transition: all 1.5s 0.5s ease !important;
}

.threadContainer {
  border-left: none !important;
  padding-left: 0 !important;
  margin-left: 20px !important;
}

.reply:target::after,
.reply.highlight::after,
.post.reply.qphl::after {
  font-family: ionicons !important;
  font-size: 17px !important;
  color: #c86263 !important;
  position: absolute !important;
  content: "\f108" !important;
  right: -20px !important;
  top: 4px !important;
}

.highlight-own:root .yourPost .post.reply::before {
  position: absolute !important;
  content: "" !important;
  height: 100% !important;
  width: 2px !important;
  top: 0 !important;
  background-color: #6482a1 !important;
  border-radius: 2px 0 0 2px !important;
}

.highlight-own:root .quotesYou .post.reply::before {
  position: absolute !important;
  content: "" !important;
  height: 100% !important;
  width: 2px !important;
  top: 0 !important;
  background-color: #b25e5e !important;
  border-radius: 2px 0 0 2px !important;
}

.subject {
  font-weight: 500 !important;
  font-size: 8pt !important;
}

.post.op .subject {
  font-size: 10pt !important;
}

.replylink {
/*  margin-left: -8px !important;
  margin-top: 2px !important;*/
  text-decoration: none !important;
  font-size: 9pt !important;
}

/*.replylink::before {
  margin-right: 3px !important;
  content: "- ";
}*/

.summary::before {
  visibility: visible !important;
  position: absolute !important;
  right: 0 !important;
  width: 91px !important;
  content: "Thread Summary" !important;
} 

.summary {
  visibility: hidden !important;
  position: absolute !important;
  right: 65px !important;
  margin-top: -25px !important;
  z-index: 1 !important;
  font-size: 9pt !important;
}

.summary:hover {
  visibility: visible !important;
}

.summary:hover::before {
  visibility: hidden !important;
}

#qp .menu-button {
  display: none !important;
}

#qp .post.op {
  margin: 0 !important;
}

#qp .post.reply {
  min-width: 350px !important;
  max-width: 100% !important;
}

#qp .post.op .postInfo {
  top: 5px !important;
}

#qp .post.reply::before,
#qp .post.op .postNum {
  display: none !important;
}

#qp .post.reply .file {
  margin-left: -2px !important;
}

#qp .nameBlock {
  margin-left: 5px !important;
}

#qp .opContainer .subject {
  display: none !important;
}

.inline .opContainer,
.inline .postContainer {
  border-radius: 0 !important;
}

.inline .fileInfo {
  display: none !important;
}

.inline,
.inline .post {
  width: 99% !important;
  border: none !important;
}

.backlink,
.inline .backlink,
.postMessage a,
#credits a {
  text-decoration: none !important;
}

.opContainer {
  margin-top: -4px !important;
  height: 100% !important;
  width: 100% !important;
  margin-bottom: 4px !important;
}

.stub ~ .opContainer {
  display: none !important;
}

.opContainer.expanded-image .postInfo {
  display: inline !important;
}

.opContainer.expanded-image .nameBlock {
  margin-left: 15px !important;
}

.opContainer.expanded-image .fileThumb {
  width: calc(100% - 40px) !important;
}

.op {
  margin-top: -1px !important;
  display: table !important;
  height: 100% !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.watch-thread-link {
  position: relative !important;
  top: 5px !important;
  left: -2px !important;
  width: 13px !important;
}

.watch-thread-link.watched {
  opacity: 0.5 !important;
}

.postInfo {
  width: auto !important;
}

.op .postInfo {
  margin-left: 0px !important;
}

.postInfo input[type="checkbox"] {
  width: 0px !important;
  height: 0px !important;
  visibility: hidden !important;
  margin-top: 9px !important;
}

.dateTime::before {
  position: relative !important;
  top: -1px !important;
  padding-right: 1px !important;
  content: "- " !important;
}

.dateTime {
	padding-right: 4px !important;
}

.opContainer .postInfo {
  margin-top: -8px !important;
}

.opContainer .postInfo input[type="checkbox"] {
  margin-left: -17px !important;
}

.opContainer.noFile .postInfo {
  top: 2px !important;
}

.opContainer.noFile .postInfo input[type="checkbox"] {
  margin-left: 25px !important;
}

.opContainer .subject {}
.opContainer .replylink {}
.opContainer .stickyIcon {}
.opContainer .closedIcon {}
.opContainer .stickyIcon {}
.opContainer .closedIcon {}

.postMessage {
  margin-top: 7px !important;
  margin-left: 20px !important;
}

.op .postMessage {
  margin-left: 16px !important;
}

.fileDeleted,
.fileDeletedRes {
  margin-left: -3px !important;
  margin-top: 10px !important;
}

#thread-watcher {
  box-shadow: none !important;
  height: auto !important;
  margin-right: 15px !important;
}

#thread-watcher div {
  padding-right: 15px !important;
}

#thread-watcher a {
  margin-left: -1px !important;
}

#thread-watcher > .move {
  height: 20px !important;
  width: 100% !important;
}

#thread-watcher .move .close {
  margin-right: -3px !important;
  margin-top: -25px !important;
}

#thread-watcher div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher .close {
  position: relative !important;
  float: right !important;
  left: 12px !important;
  top: -1px !important;
}

#thread-watcher div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher .close,
#thread-watcher .menu-button {
  visibility: collapse !important;
}

#thread-watcher:hover div > a[href="javascript:;"]:not(.menu-button),
#thread-watcher:hover .close,
#thread-watcher:hover .menu-button {
  visibility: visible !important;
}

#thread-watcher a[href="javascript:;"]{
  position: relative !important;
  top: -27px !important; 
  right: -10px !important;
}

.closed {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

#unread-line {
  position: relative !important;
  display: block !important;
  margin-left: -55px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  width: calc(100% + 110px) !important;
  height: 2px !important;
  z-index: 1 !important;
}

.post.reply .file {
  height: 100% !important;
}

.post.reply .fileText {
  position: absolute !important;
  right: -17px !important;
  bottom: 0px !important;
  padding: 5px !important;
  z-index: 1 !important;
  background: #fff !important;
  border-radius: 2px !important;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) !important;
  opacity: 0 !important;

  transition: opacity .5s .2s ease !important;
}

.post.reply .fileText:hover {
  opacity: 1 !important;
}

.post.op .fileText {
  margin-left: 20px !important;
}

.fileThumb img {
  border-radius: 2px !important;
}

.post.reply .postNum {
  position: absolute !important;
  z-index: -1 !important;
  height: 100px !important;
  width: 50px !important;
  top: 0 !important;
  opacity: 0 !important;
}

.post.reply .inline .postNum {
  z-index: 1 !important;
}

.post.reply:hover .postNum {
  margin-left: -10px !important;
  height: 100px !important;
  width: 50px !important;
  top: -10px !important;
}

.post.reply .postNum > a:nth-child(2) {
  font-size: 0 !important;
}

.post.reply .postNum > a:nth-child(2)::before {
  font-family: ionicons !important;
  font-size: 17px !important;
  color: rgba(106,114,122,.5) !important;
  position: absolute !important;
  content: "\f21d" !important;
  top: 10px !important;
  left: 12px !important;
  padding-top: 4px !important;
  padding-left: 6px !important;
  background: #ffffff !important;
  width: 30px !important;
  height: 22px !important;
  border-radius: 7px 0 0 7px  !important;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) !important;
  transition: all .2s ease !important;
}

.post.reply .postNum > a:nth-child(2):hover::before {
  color: rgba(106,114,122,1) !important;
}

.post.reply .postNum > a:first-child:hover::before {
  opacity: 1 !important;
  color: #859fb9 !important;
}

.post.reply .postNum a {
  z-index: -1 !important;
}

#delform {
  position: relative !important;
  z-index: 1 !important;
}

.post.reply .postNum > a:first-child {
  font-size: 0 !important;
}

.post.reply .postNum > a:first-child::before {
  font-family: ionicons !important;
  font-size: 15px !important;
  color: #6a727a !important;
  position: absolute !important;
  content: "\f1fe" !important;
  left: 18px !important;
  top: 35px !important;
  padding: 2px 5px !important;
  background: #fff !important;
  border-radius: 0 0 0 7px  !important;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1) !important;
  opacity: .3 !important;
  transition: all .2s ease !important;
}

.postNum {
  transition: all .5s .2s ease !important;
  left: 0 !important;
}

.post:hover .postNum {
  opacity: 1 !important;
  left: -28px !important;
}

.dateTime {
  font-size: 8pt !important;
}

/**
    Global Message
*/

.hide-announcement {
  width: 100% !important;
  z-index: 10 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  font-size: 0 !important;
  text-align: center !important;
}

.hide-announcement > * {
  text-align: left !important;
}

.hide-announcement::after {
  margin-left: -5% !important;
  position: absolute !important;
  float: none !important;
  content: "Hide Announcement";
  font-size: 12pt !important;
}

#globalMessage {
  margin: 35px 71px 0 75px!important;
  z-index: 0 !important;
  padding: 5px 0 !important;
}

#globalMessage h3 {
  font-size: 10pt !important;
  font-weight: normal !important;
  margin: 2px !important;
}

#globalMessage strong, h2 {
  margin: 2px !important;
  font-size: 10pt !important;
  font-weight: normal !important;
}

#watcher,
#watcher a {
  font-weight: 400 !important;
  font-size: 10pt !important;
}

#board-list a {
  font-size: 9pt !important;
}

.useremail {
  font-style: italic !important;
  text-decoration: none !important;
}

.nameBlock a:hover::after {
  content: "(" attr(href) ")";
  margin-left: 3px;
  transition: all 0.3s ease 0s;
}

.quotelink.inlined,
.backlink.inlined,
.inlined {
  opacity: 1 !important;
}

.backlink::after,
.quotelink {
  transition: all .2s ease !important;
}

.deadlink:not(.you),
.deadlink.quotelink {
  text-decoration: line-through !important;
}

.deadlink.you {
  text-decoration: none !important;
}

.warning,
.postMessage strong {
  font-weight: normal !important;
}

.post.reply .container,
.backlink {
  font-size: 0 !important;
}

.backlink {
  margin-right: 2px !important;
}

.backlink:after {
  font-size: 12px !important;
  content: "\f21e" !important;
  margin-left: 4px !important;
}

.backlink.filtered::after {
  content: "\f21e" !important;
}

.fileText,
.fileInfo a {
  font-size: 8pt !important;
  text-decoration: none !important;
  font-style: italic !important;
}

.prettyprint span {
  font-family: "Consolas", monospace !important;
}

.prettyprint {
  margin-top: 5px !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  font-size: 9pt !important;
  max-width: 700px !important;
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,.03) !important;
}

.deleted-post .post.reply::after {
  font-size: 13px !important;
  position: absolute !important;
  content: "\f129" !important;
  right: -20px !important;
  top: 7px !important;
}

.post.reply::after {
  cursor: default !important;
}

.inline .post.reply::after {
  display: none !important;
}

.inline .post.reply::before {
  display: none !important;
}

.inline .opContainer .postNum,
.inline .opContainer .subject {
  display: none !important;
}

.inline .op .postInfo {
  display: block !important;
  margin-left: 15px !important;
}

.inline .op .fileThumb {
  margin-left: 20px !important;
}

.inline .menu-button {
  display: none !important;
}

#qp .deleted-post .post.reply::after,
.deleted-post .postInfo .warning {
  display: none !important;
}

/**
    Page Links
*/

.pagelist {
  float: none !important;
  width: 100% !important;
  height:20px!important;
  margin: 0 auto 0 auto!important;
  padding:0!important;
  font-size: 9pt !important;
  white-space: nowrap !important;
}

.pages {
  text-align: center !important;
  float: none !important;
}

.next,
.prev,
.pages.cataloglink,
.pagelist .prev input,
.pagelist .next input {
  position: relative !important;
  -moz-appearance: none !important;
  width: 0 !important;
}

/**
    Settings screen
*/

#fourchanx-settings.dialog label {
  text-decoration: none !important;
  font-style: italic !important;
}

#optionsbar {
  margin: -5px !important;
  padding: 5px !important;
}

.dialog a,
.dialog label {
  text-decoration: none !important;
}

#optionsContent > input:checked + div,
#updater:hover > div,
#updater .move,
#qr.dump #replies,
.hasSubMenu.focused > .subMenu {
  display: block;
}

#fourchanx-settings.dialog .section-filter .field {
  height: 540px !important;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15) !important;
}

#fourchanx-settings.dialog .section-sauce .field {
  height: 400px !important;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15) !important;
}

/**
    Quick reply
*/

.autohide:root #qr.dialog.autohide {
  top: -276px !important;
}

#qr.dialog.autohide {
  top: -249px !important;
  transition: all 0.5s ease;
  z-index: 2 !important;
}

#qr.dialog.has-captcha {
  top: 25px !important;
  transition: all 0.5s ease;
}

#qr.dialog.has-captcha.autohide {
  top: -331px !important;
  transition: all 0.5s ease;
}

#qr.dialog.dump.autohide {
  top: -339px !important;
  transition: all 0.5s ease;
}

#qr.dialog.dump.has-captcha.autohide {
  top: -420px !important;
  transition: all 0.5s ease;
}

#qr.autohide:not(.has-focus):not(:hover) > form,
#file-n-submit:not(.has-file) {
  display: inherit !important;
}

#qr.dialog {
  position: fixed !important;
  display: inline !important;
  top: 25px !important;
  right: 0px !important;
  left: auto !important;
  width: 350px !important;
  transition: all 0.5s ease;
  z-index: 9 !important;
  padding: 0 !important;
}

#qr .move {
  position: fixed !important;
  float: right !important;
  left: 151px !important;
  bottom: -2px !important;
  margin-top: 0px !important;
  font-size: 0px !important;
  height: 25px !important;
  max-width: 15px !important;
  min-width: 15px !important;
  cursor: default !important;
}

#qr > div {
  max-width: 400px !important;
  width: 400px !important;
}

#qr select {
  display: none !important;
}

textarea.field {
  height: 230px !important;
  margin-bottom: -1px !important;
  transition: all 0.25s ease-in-out !important;
}

input[type="submit"],
#qr-no-file,
#qr textarea.field::-moz-placeholder,
.persona .field::-moz-placeholder {
  font-size: 12px !important;
  text-transform: lowercase !important;
}

.field {
  border: none !important;
}

#qr-filename-container {
  margin-bottom: 3px !important;
  overflow: hidden !important;
  max-height: 19px !important;
  min-width: 74.2% !important;
  max-width: 74.2% !important;
}

#qr.has-spoiler.has-file #qr-filename-container {
  min-width: 68.3% !important;
  max-width: 68.3% !important;
}

#file-n-submit.has-file #qr-filename-container {
  min-width: 74.4% !important;
  max-width: 74.4% !important;
}

#qr-spoiler-label {
  max-height: 19px !important;
  min-height: 19px !important;
  margin-left: -1px !important;
}

#qr-spoiler-label input {
  top: 1px !important;
}

#qr-filename {
  min-width: 92% !important;
  max-width: 92% !important;
  overflow: hidden !important;
}

#file-n-submit {
  height: 20px !important;
}

#file-n-submit input {
  width: 25.5% !important;
}

#file-n-submit.has-file input {
  margin-left: -2px !important;
  width: 25.5% !important;
}

#qr-filerm {
  bottom: 2px !important;
  right: 10px !important;
}

textarea,
.field,
#qr [type=file] [type=text] {
  -moz-appearance: none !important;
  font-size: 12px !important;
  vertical-align: middle !important;
}

#qr [type=file] [type=text] {
  float: right !important;
}

input[type="submit"] {
  margin-top: 1px !important;
  text-align: center !important;
  margin-left: -1px !important;
  padding-bottom: 2px !important;
  width: 25.2% !important;
  cursor: pointer !important;
  background-repeat: repeat-x !important;
  -moz-border-top-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  border-image: none !important;
  -moz-appearance: none !important;
}

input[name="name"],
input[name="email"],
input[name="sub"] {
  max-height: 23px !important;
  min-height: 23px !important;
}

.persona {
  max-height: 20px !important;
  min-height: 20px !important;
}

.captcha-img {
  margin-top: 0 !important;
  margin-bottom: -1px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.captcha-img > img {
  margin-left: 0px !important;
  margin-top: 5px !important;
  visibility: visible !important;
  min-width: 298px !important;
  max-width: 298px !important;
}

.captcha-input.field {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
}

#dump-list-container {
  margin-bottom: -1px !important;
}

.qr-preview {
  margin-bottom: 1px !important;
}

/**
    Menu Button
*/

.postContainer .menu-button {
  float: right !important;
  margin-right: 8px !important;
  margin-top: 5px !important;
  font-size: 0 !important;
}

.menu-button::after {
  width: 50px !important;
  height: 20px !important;
}

.post.op .menu-button,
.postContainer .menu-button {
  opacity: 0 !important;
}

.post.op:hover .menu-button,
.postContainer:hover .menu-button {
  opacity: 1 !important;
}

.postContainer .menu-button::after {
  transition: color .2s ease !important;
  color: #bfcbd8 !important;
  font-family: ionicons !important;
  content: "\f104" !important;
  font-size: 9pt !important;
  border: 1px solid rgba(103,136,168,.5) !important;
  border-radius: 10px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.postContainer .menu-button:hover::after {
  color: #6482a1 !important;
}

.menu-button i {
  display: none !important;
}
 
#menu.reply.dialog {
  display: block !important;
  margin-left: 0 !important;
  margin-top: -1px !important;
}
 
.subMenu {
  left: -105px !important;
  width: 100px !important;
}

.stub .menu-button {
  float: right !important;
  margin-right: -6px !important;
  font-size: 0 !important;
}

.stub .menu-button i {
  display: none !important;
}

.stub .menu-button::after {
  content: "\25BE" !important;
  font-size: 6pt !important;
}

.entry,
.entry a,
.subMenu {
  font-size: 8pt !important;
}

}

@-moz-document regexp("https?://boards\\.4chan\\.org\\/(.|..|...|....)\\/catalog") {

/**
    Colours
*/

#ctrl,
#qf-ctrl.button,
body {
  color: #5F5F5F !important;
}

#qf-box {
  outline: none !important;
}

input:focus, 
textarea:focus {
  border: none !important;
}

#theme {
  background: #fff !important;
}

#post-preview {
  color: #5f5f5f !important;
  background-color: #fff !important;
  border: 1px solid #ebebeb !important;
}

/**
    Layout
*/

#globalToggle,
#first-run,
#globalMessage,
#toggleMsgBtn,
#filters-ctrl,
#qf-clear.button,
#styleSwitcher {
  display: none !important;
}

#content {
  position: inherit !important;
}

.btn-wrap {
  font-size: 0 !important;
}

#settings  {
  width: 100% !important;
}

#settings,
#threads,
#info .navLinks,
#content .navLinks {
  text-align: center !important;
}

#ctrl,
#qf-ctrl.button {
  font-size: 9pt !important;
  text-decoration: none !important;
  margin-top: 25px !important;
}

#settingsWindowLink {
  font-size: 0 !important;
}

#settingsWindowLink::after {
  content: "Catalog Settings" !important;
  position: fixed !important;
  bottom: 5px !important;
  left: 8px !important;
  font-size: 9pt !important;
  font-weight: normal !important;
}

#post-preview {
  border-radius: 0 !important;
}

}
